# ─────────────────────────────
# Python / Env
# ─────────────────────────────
.venv
env
ENV
__pycache__
*.pyc
*.pyo
*.pyd

# ─────────────────────────────
# Git
# ─────────────────────────────
.git
.gitignore

# ─────────────────────────────
# Notebooks / Dev
# ─────────────────────────────
.ipynb_checkpoints
notebooks

# ─────────────────────────────
# Data / Artifacts (WICHTIG)
# ─────────────────────────────
data
mlruns
mlartifacts
models
reports

# große Dateien
*.pth
*.pt
*.tar
*.zip
*.csv

# ─────────────────────────────
# Logs / temp
# ─────────────────────────────
*.log
tmp
temp

# ─────────────────────────────
# OS
# ─────────────────────────────
.DS_Store
Thumbs.db


venv/
.venv/
data/images/
data/images_hidden/
data/raw/
mlflow/
mlruns/
.dvc/cache/
.git/
__pycache__/
*.pyc
*.pth
*.pkl
*.tar
*.zip
*.7z
*.vhdx
node_modules/
mc.exe
airflow/logs/

data/images
data/raw
mlflow/
mlruns/
venv/
.dvc/cache
*.pth
*.pkl
__pycache__
.git