.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache
.ipynb_checkpoints

.git
.gitignore

data
models
mlartifacts
mlruns

*.db
*.sqlite
*.sqlite3
*.pth
*.pt

dist
build
*.egg-info

.DS_Store