# ignore virtual env
venv/
.venv/

# dotenv
.env

# python cache
__pycache__/
*.py[cod]
.mypy_cache/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.spyproject/

# OS/editor
.DS_Store
*.swp
*.swo

# databases
*.db
*.rdb

# mlflow
mlruns/

# data folders: keep structure, ignore contents
data/raw/*
data/processed/*
data/external/*
data/interim/*

# keep placeholder files
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/interim/.gitkeep