# ignore virtual env
venv/
.venv/

# dotenv
.env

# python cache
__pycache__/
*.py[cod]
.mypy_cache/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.spyproject/

# OS/editor
.DS_Store
*.swp
*.swo

# databases
rakuten_colors.db

# mlflow
mlruns/

# image data
data/images/

# data folders: keep structure, ignore contents
data/raw/*
data/processed/*
data/external/*
data/interim/*

# keep placeholder files
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/interim/.gitkeep

# models – ignore large files
models/*.pth
models/*.pt
models/*.pkl
models/*.pkl.local_backup
models/*.bin
models/*.onnx
models/*.h5
models/*.joblib
models/*.sav

# helper scripts not needed in repo
z_helper_img.py